<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Rooms</h1>
			<ul class="mt-4 list-unstyled">
  			<%= render @rooms %>
			</ul>

			<div class="mt-2">
	  		<%= render 'rooms/form', room: @room %>
			</div>
		</div>
		<div class="col-sm-6">
			<table class="table table-sm">
				<thead>
					<tr>
						<th class="col">Online</th>
					</tr>
				</thead>
				<tbody id="usersonline">
					<%= render partial: 'users/user_online', collection: @usersonline, as: :user_online %>
				</tbody>
			</table>
		</div>
	</div>
</div>







